.project-section {

    /* 
    height: 100vh; */
    width: 100%;

    background-color: #f3f4f6;
    /* align-items: center; */

}

.headerTextParent {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;


}


.projectCardParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    width: 100%;


}

@keyframes breathing {
    0% {
        transform: scale(1);
        /* Normal size */
    }

    50% {
        transform: scale(1.05);
        /* Slightly larger */
    }

    100% {
        transform: scale(1);
        /* Back to normal size */
    }
}

.projectCard {
    height: auto;
    width: 100%;
    /* Full width on mobile */
    max-width: 450px;
    /* Limit maximum width for large screens */
    background-color: white;
    flex-direction: column;
    margin: 1em;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    /* Smooth scaling on hover */
}

@media (max-width: 768px) {
    .projectCard {
        margin: 0.5em auto;
        /* Centers with smaller margin */
    }
}

.projectCard:hover {
    animation: floating 1.2s ease-in-out infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.child1 {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 12px;
    gap: 5px;
    border-radius: 55px;





}

.child2 {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.features {
    height: 30vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;



}

.featureText {
    color: #181510;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;



}

.featureText::before {
    content: "•";
    margin-right: 2%;
    color: black;
    font-size: 1.2em;
}

.child3 {
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;



}

.child4 {
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;





}

.icon-size {
    width: 35px;
    height: 35px;
}

.project-Icon {
    width: 30px;
    height: 30px;
}

.image-size {
    width: auto;
    height: auto;
    /* Maintain aspect ratio */
    max-height: 200px;
    object-fit: cover;
}

.descriptionStyle {
    color: #181510;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

    padding: 2%;
}

@media (max-width: 768px) {
    .descriptionStyle {
        color: #181510;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .9em;
    }
}

.source-code {
    color: #83b6e3;
    text-decoration: underline;
}

.techStackName {
    color: #181510;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;

}

@media (max-width: 768px) {
    .techStackName {
        font-size: .5em;
        /* Reduced size for small screens */
    }
}

.techStackWrapper {
    background-color: #f9fafc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    width: 97px;
    height: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .techStackWrapper {
        width: 70px;
        /* Reduced width for small screens */
        height: 30px;
        /* Reduced height for small screens */
    }
}

.personalProjects {
    color: rgb(58, 134, 235);
    font-family: inherit;
    font-size: 1.5em;
}