.project-section {
    width: 100%;
    background-color: #f3f4f6;
}

.headerTextParent {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.projectCardParent {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: .5em;
    width: 100%;

}

.cardHolder {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;

}

.projectDetailsParent {
    width: 60%;
    justify-content: space-evenly;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.projectCard {
    height: auto;
    width: 100%;
    max-width: 450px;
    background-color: green;
    flex-direction: column;
    margin: 1em;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .projectCard {
        margin: 0.5em auto;
    }
}

.projectCard:hover {
    animation: floating 1.2s ease-in-out infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.child1 {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 12px;
    gap: 5px;

}

.child2 {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    height: 30vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.featureText {
    color: #181510;
    font-size: 1em;
}

.featureText::before {
    content: "•";
    margin-right: 2%;
    color: black;
    font-size: 1.2em;
}

.child3 {
    height: 10vh;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.child4 {
    height: 10vh;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.icon-size {
    width: 35px;
    height: 35px;
}

.project-Icon {
    width: 30px;
    height: 30px;
}

.image-size {
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 3%;
}

@media (max-width: 768px) {
    .image-size {
        width: 33%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        border-radius: 3%;
    }
}

.descriptionStyle {
    color: #181510;
    font-size: 1.2em;
    padding: 1%;
}

@media (max-width: 768px) {
    .descriptionStyle {
        color: #181510;
        font-size: 0.9em;
    }
}
.source-code {
    color: #83b6e3;
    text-decoration: underline;
}

.techStackName {
    color: #181510;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .techStackName {
        font-size: 0.5em;
    }
}

.techStackWrapper {
    background-color: #f9fafc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    width: 97px;
    height: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .techStackWrapper {
        width: 70px;
        height: 30px;
    }
}

.personalProjects {
    color: rgb(58, 134, 235);
    font-size: 1.6em;
}

.github {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 6%;
}

.githubName {
    color: white;
    font-size: .9em;
    font-family: 'Poppins', sans-serif;
}

/* Added Mobile Responsive Styles */
@media (max-width: 768px) {
    .cardHolder {
        flex-direction: column;
        align-items: center;
    }

    .child1 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .child3 {
        height: 10vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        display: flex;

    }

    .child4 {
        height: 10vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        display: flex;
    }


    .projectDetailsParent {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .github {
        width: 25%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 6%;
    }

    .githubName {
        color: white;
        font-size: .6em;
        font-family: 'Poppins', sans-serif;
    }

}