.navbar {
    width: 100vw;
    height: 9vh;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items :center;
    background-color: white;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    

    

}

html {
    --section-background-color: linear-gradient(to bottom left,
            rgba(17, 16, 16, 0.582),
            rgba(12, 8, 24, 0.904));

    --image-gradient: linear-gradient(to bottom left,
            rgba(17, 16, 16, 0.678),
            rgba(12, 10, 22, 0.863));

    --imp-text-color: #c770f0;
}

.navbar .logo {
    width: 150px;
    height: 50px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    margin-right: 50px;
 
  

}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    columns: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transform: 0.3s;

}

.navbar button:hover {
    color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icons {
    position: relative;
}

.navbar-search-icons .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.topHeadings {
    color: black;
    font-size: medium;
    text-decoration: none;
    font-weight: 500;
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
    transition: 1s background-size;

}

.topHeadings:hover {
    color: #3a86eb;
    background-size: 100% .1em;
    background-position: left bottom;
    cursor:grab;
}

.link {
    color: inherit;
    /* Ensures Link inherits the color property */
    text-decoration: inherit;
    /* Ensures Link inherits the text-decoration property */
}
.decorIcon{
 
    width: 10vw;
    height: 9vh;  
    display: flex;
    justify-content: center;
    align-items: center;
  
}