.navbar {
    width: 100%;
    height: 9vh;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.navbar .logo {
    width: 150px;
    height: 50px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    margin-right: 50px;

}

.topHeadings {
    color: black;
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
    transition: 1s background-size;

}

.topHeadings:hover {
    color: #3a86eb;
    background-size: 100% .1em;
    background-position: left bottom;
    cursor: grab;
}

.link {
    color: inherit;
    /* Ensures Link inherits the color property */
    text-decoration: inherit;
    /* Ensures Link inherits the text-decoration property */
}

.decorIcon {

    width: 10vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cursor-pointer {
    /* 
    width:100px;
    height: 40px; */

    text-align: center;
}