body,
html {
  margin: 0;
  padding: 0;
}

.mainContainer {
  box-sizing: border-box;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow:auto;
  scroll-behavior: smooth;

  
}

.topHeadings {
  color: white;
  font-size: medium;
	text-decoration:none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
}

.topHeadings:hover {
  color: #D62C40;
  background-size: 100% .1em;
  background-position: left bottom;
  cursor: pointer;
}

.headerContainer {
  width: 65%;
  height: 10%;
  margin-left: 32.5%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;

}

.myNameDiv {
  width: 40%;
  height: 8;
  margin-left: 5%;
  margin-top: 8%;
  flex-direction: row;
  display: flex;



}

.helloText {
  color: white;
  font-size: 40px
}

.mobileApp {
  color: white;
  font-size: 25px;
  margin-left: 5%;
  margin-top: 5%;

}

.myName {
  color: #D62C40;
  margin-left: 2%;
  font-size: 40px
}
.content {
margin-top: 150px;
  width: 50%;
  height: 50%;
background-color: #D62C40;

}

.container:hover .content {
  max-height: 200px; /* Adjust this value to control how much the content scrolls */
  transition: max-height 0.3s ease-in;
}
.additionalContent{
width: 50%;
height: 50%;
background-color: #D62C40;


}