
body, html {
    margin: 0;
    padding: 0;
  }
  
.mainContainer {
    box-sizing: border-box;
    background-color: white;
    width:100vw;
    height: 100vh;
 }
.topHeadings{
    color:white;
    font-size: medium;
    
 }
 .topHeadings:hover{
  color: #D62C40

 }

.headerContainer{
    width: 65%;
    height: 10%;
    margin-left: 32.5%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;

}
.myNameDiv{
width: 40%;
height: 10;
margin-left: 5%;
flex-direction: row;
display: flex;

}
.helloText{
color: white;
font-size: 40px

}
.mobileApp{
color:white;
font-size: 25px;
margin-left: 5%;

}
.myName{
  color: #D62C40;
  margin-left: 2%;
  font-size: 40px
}