.contact-section {
    height: 30%;

    width: 100%;
    /* Full width */
    display: flex;
    /* Flex container */
    flex-direction: row;
   
    background-color: black;
    /* Background color */
}

@media (max-width: 768px) {

   
    .contact-section {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 20px;

    }
}

.c1 {
    height: auto;
    width: 35%;
    align-items: center;
    display: flex;

}

.c2 {
    height: auto;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;




}

.c3 {
    height: 30vh;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;





}

.nameParent {
    height: 55%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: center;



}

.homeParent {
    height: auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 12px;


}

.socialParent {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 12px;




}





.contact {
    color: white;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {

    /* Adjust for smaller screens */
    .contact {
        font-size: 1em;
        /* Smaller font size for mobile */
    }
}

@media (max-width: 480px) {

    /* For very small screens */
    .contact {
        font-size: 1em;
        /* Even smaller font size */
    }
}

.mobileappDeveloper {
    font-size: .9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

@media (max-width: 768px) {

    /* Adjust for smaller screens */
    .mobileappDeveloper {
        font-size: .8em;
        /* Slightly smaller font size for mobile */
    }
}

@media (max-width: 480px) {

    /* For very small screens */
    .mobileappDeveloper {
        font-size: .7em;
        /* Even smaller font size */
    }
}

.contact-Icon {
    color: white;
    width: 29px;
    height: 29px;
}

.platformIconParent {
    height: 15vh;
    width: 10vw;
    display: flex;

    justify-content: center;
}

.socialIconParent {
    height: 15vh;
    width: 10vw;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.location {
    font-size: .9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}